venv/
mlruns/
env_deepchecks/
# Base de données MLflow
mlflow.db

# Modèles volumineux (optionnel si tu ne veux pas les versionner)
models/*.joblib
model_artifacts/*.joblib

# Fichiers temporaires Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks checkpoints
.ipynb_checkpoints/
# DVC : ne pas tracker les gros fichiers de données
# On garde seulement les fichiers .dvc (pointeurs)
data/raw/*
data/processed/*

# Exception importante : autoriser les fichiers .dvc dans ces dossiers
!data/raw/*.dvc
!data/processed/*.dvc

# Optionnel : si tu veux garder un .gitkeep pour structure dossier
!data/raw/.gitkeep
!data/processed/.gitkeep
