alembic==1.17.2
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.14.3
bleach==6.3.0
blinker==1.9.0
boto3==1.42.9
botocore==1.42.9
cachetools==6.2.3
category_encoders==2.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
dacite==1.6.0
dagshub==0.6.4
dagshub-annotation-converter==0.1.15
databricks-sdk==0.74.0
dataclasses-json==0.6.7
debugpy==1.8.18
decorator==5.2.1
deepchecks==0.19.1
defusedxml==0.7.1
deprecation==2.1.0
distro==1.9.0
docker==7.1.0
dynaconf==3.2.12
evidently==0.4.37
executing==2.2.1
Faker==39.0.0
fastapi==0.124.4
fastjsonschema==2.21.2
filelock==3.20.1
Flask==3.1.2
flask-cors==6.0.2
fonttools==4.61.1
fqdn==1.5.1
fsspec==2025.12.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.44.0
gql==4.0.0
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.3.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huey==2.5.5
idna==3.11
imbalanced-learn==0.14.0
importlib_metadata==8.7.0
ipykernel==7.1.0
ipython==9.8.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.3
json5==0.12.1
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.7.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
lark==1.3.1
lightgbm==4.6.0
litestar==2.19.0
litestar-htmx==0.5.0
lxml==6.0.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.1.4
mlflow==3.7.0
mlflow-skinny==3.7.0
mlflow-tracing==3.7.0
msgspec==0.20.0
multidict==6.7.0
multipart==1.3.0
mypy_extensions==1.1.0
narwhals==2.13.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.2
notebook==7.5.0
notebook_shim==0.2.4
numpy==2.0.2
opentelemetry-api==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pathvalidate==3.3.1
patsy==1.0.2
pillow==12.0.0
platformdirs==4.5.1
plotly==5.24.1
polyfactory==3.1.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.2
psutil==7.1.3
pure_eval==0.2.3
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.19.2
PyNomaly==0.3.4
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-utils==3.9.1
pytz==2025.2
pywin32==311
pywinpty==3.0.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rich-click==1.9.4
rpds-py==0.30.0
rsa==4.9.1
s3transfer==0.16.0
scikit-learn==1.5.2
scipy==1.16.3
seaborn==0.13.2
semver==3.0.4
Send2Trash==1.8.3
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.45
sqlparse==0.5.4
stack-data==0.6.3
starlette==0.50.0
statsmodels==0.14.6
streamlit==1.52.1
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
tornado==6.5.3
tqdm==4.67.1
traitlets==5.14.3
treelib==1.8.0
typer==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.11.0
uri-template==1.3.0
urllib3==2.6.2
uuid6==2025.0.1
uvicorn==0.38.0
waitress==3.0.2
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.4
wheel==0.45.1
widgetsnbextension==4.0.15
xgboost==3.1.2
yarl==1.22.0
zipp==3.23.0
